
<div class="shadow p-2 mb-5 bg-white rounded">
  <div class="p-3 mb-2 bg-danger text-white">
    <h1  class="text-center">Causas del calentamiento global</h1>
</div>
</div>
<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">

  <figure class="text-left">
    <blockquote class="blockquote">
      <p class="h2 human">El ser humano</p>
    </blockquote>
    </figure>

<br><br>
<blockquote class="blockquote text-left til">
  <footer class="blockquote-footer block ter"> <cite title="Source Title">
    Antes de analizar las principales causas del calentamiento global debe quedar claro que el calentamiento
     global es un proceso natural que ha sido parte de la evolución durante miles de años.
     <p>
      Lo nuevo en esta crisis es que la actividad humana ha acelerado el
      durante los últimos dos siglos, causando daños sin precedentes
      desde que se tomaron tales medidas.
      Como veremos más adelante, los humanos somos responsables del cambio
      climático y de las emisiones de gases de efecto invernadero.
       El gas de efecto invernadero más común es el dióxido de carbono,
    que representa el 63% del calentamiento global, pero también hay otros
        contribuyentes que causan este daño los cuales son:

     </p>
  </cite></footer>
  </blockquote>

    <div class="text-center">
      <img src="./assets/persona.jpg"
      width="500" height="400"  />
    </div>
<div class="text-center">

  <div class="pt-5">
    <p class="h2 lis">Listado de las 4 principales causas del calentamiento global</p>
<br>


    <div class="container">
      <div class="row">
        <div class="col"><p class="lead">
          Deforestación: Es común poder ver en ciertas zonas de nuestra comunidad zonas deforestadas ya sea
          para construcciones o sembradíos el problema radica en que no se plantan o se reubican esos arboles
           para evitar la contaminación del aire
        </p></div>

        <div class="col">
          <img src="./assets/arbol.jpg"
      width="480" height="250"  />
        </div>

        <div class="w-100"></div>
    <div class="col"><p class="lead">
      <br>
      Aumento de los gases de efecto invernadero: Los gases de efecto invernadero si bien ayudan a mantener la
      vida en a la tierra manteniendo una temperatura cálida, estos en excesos pueden llegar a ser
      contraproducentes y en nuestra comunidad han llegado diferentes industrias que anqué pueden tener
      un tamaño no muy relevante pueden llegar a generar grandes cantidades de CO2. O incluso nosotros que en
      lugar de caminar a la tienda que esta a unas cuadras vamos en la moto y así de poco a poco se va
       generando más y más gases de efecto invernadero
    </p></div>
    <div class="col">
      <br>
      <br>
      <img src="./assets/gases.jpg"
      width="480" height="350"  />
    </div>

    <div class="w-100"></div>
    <div class="col"><p class="lead">
      Uso de fertilizantes, la actividad química para el tratamiento de aguas residuales: en nuestra comunidad
      y sus alrededores es una zona para la agricultura, el problema radica en el uso de fertilizantes ya
      algunos fertilizantes en grano no se disuelven esto debido a su calidad y con el sol se evaporan los
      componentes de los que están hechos o con las fuertes lluvias se filtran al subsuelo contaminando no
      solo el suelo ni el agua
    </p></div>
    <div class="col">
      <img src="./assets/ferti.jpg"
      width="480" height="350"  />
    </div>
    <br>
      <div class="w-100"></div>
    <div class="col"><p class="lead">
      <br>
      <br>
      Rápido crecimiento de la población: nuestra comunidad a lo largo del tiempo su población ha ido en
      aumento y con la integración de nuevas industrias la población cada vez va más rápido y esto genera mas
      aumento en la basura que se genera, se producen desabastos de vienes y servicios
    </p></div>
    <div class="col">
      <br>
      <img src="./assets/pobla.jpg"
      width="480" height="350"  />

    </div>

    </div>
  </div>
  <br>
  <br>
  <blockquote class="blockquote text-left">
    <footer class="blockquote-footer block ter" > <cite title="Source Title">La tierra no es una herencia de nuestros padres, sino un préstamo de nuestros hijos</cite>
      </footer>
    </blockquote>
  </div><footer class="text-center text-white">
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: #FF5D5D ">

    <a class="text-dark" href="grafica/">Calentamiento global en mi comunidad</a>
  </div>
  <!-- Copyright -->
</footer>

